* {
    font-family: 'Roboto';
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.hero-section{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px 0px;
}

.hero-vertical{
    align-self:flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display:flex;
    flex-wrap: wrap;
    width: 500px;
    margin-bottom: 0px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    display:flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 500px;
}

.signup-button {
    font-size: 18px;
    font-weight: 700;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 40px
}

.hero-section img{
    width: 600px;
    height: auto;
}



